.DS_Store
node_modules
config.js
database/photosData.csv
database/homeData.csv
package-lock.json
database/homeDatashort.csv
database/photosDatashort.csv
public/carousel.app.js
public/carousel.app.js.br
public/carousel.app.js.gz
database/homeData.csv
database/homeData.csv
database/photosData.csv
database/photosData.csv
postgresdb/homeData.csv
postgresdb/photosData.csv
